body {
  font-family: "Arial";
}

#centered {
  margin: auto;
  max-width: 800px;
}
.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 30%;
  grid-auto-rows: 100px;
}

.row {
  background-color: #444;
  color: #fff;
  margin-top: 5px;
  font-size: 150%;
  font-family: "Arial";
  height: 48px;
}

.name {
  padding: 30px 10px 10px 20px;
  grid-row: 1;
  border-radius: 5px 0px 0px 5px;
}

.uptime {
  padding: 35px 10px 5px 10px;
  grid-row: 1;
  font-size: 90%;
}

.ok {
  padding: 20px 0px 20px 10px;
  grid-row: 1;
  border-radius: 0px 5px 5px 0px;
}

.ok img {
  float: right;
  margin-right: 20px;
}

.status {
  margin: 10px 0px 10px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: lightcyan;
  border-radius: 5px 5px 5px 5px;
  min-height: 3em;
  max-width: 800px;
}

.status img {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

header {
    height: 100px;
    background: url(/static/dashboard/img/logo-100x100px.png) no-repeat;
}

header a {
  text-decoration: none;
  color: #000;
}

header .logo {
  max-width: 800px;
  margin-left: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 300%;
  font-variant: small-caps;
  font-weight: bold;
}
