{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Gibberfish Service Status</title>
    <link rel="icon" type="image/png" href="{% static 'dashboard/img/logo-100x100px.png' %}">
    <link rel="stylesheet" type="text/css" href='{% static "dashboard/css/main.css" %}'/>
    <script>
      page_refresh=window.setTimeout(function(){window.location.href=window.location.href},300000);
    </script>
    <noscript>
	     <meta http-equiv="refresh" content="300" />
     </noscript>
  </head>

  <div id="centered">
    <header>
      <a href="https://gibberfish.org/">
        <div class="logo">
          Gibberfish Service Status
        </div>
      </a>
    </header>

    <body>
      {% for status in status_list %}
        <div class="status">
          <a href="/feed/">
            <img src='{% static "dashboard/img/rss.png" %}' />
          </a>
          <p>
            {{ status.updated|date:"N d, Y" }}  {{ status.updated|time:"H:i" }} -
            {{ status.message }}
          </p>
        </div>
      {% endfor %}
      {% for m in monitors %}
        <div class="wrapper">
          <div class="name row">
            {{ m.name }}
          </div>
          {% for u in m.uptime %}
            <div class="uptime row">
              {{ u.days }} day: {{ u.percentage }}%
            </div>
          {% endfor %}
          <div class="ok row">
            {% if m.ok %}
              <img src='{% static "dashboard/img/logo-48px-green.png" %}' />
            {% else %}
              <img src='{% static "dashboard/img/logo-48px-red.png" %}' />
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <p>Updated: {{ last_updated }}</p>
    </body>
  </div>
</html>
